section {
    height: 33vh;
    border: 1px solid black;
}

p {
    color: blueviolet;
}

.red {
    color: red;
}
#title {
    color: black
}

p.red {
    color: purple;
}

#title.heading.red {
    color: blue
}